{% extends "base.html"%}

{% block content%}
<h2>{{ template_product_name }}</h2>
<h3>Description</h3>
    <p>{{ template_product_description }}</p>
    <p>*Available {{ template_product_available }}/{{ template_product_stock }}</p>
<a href="/store/">Go back to store</a>
<hr>

<h3>Comments</h3>
    <ul>
        {% for comment in template_product_comments %}
        <li> {{comment}} </li>
        {% endfor %}
    </ul>

    <form method="POST">
        {{ template_add_comment.hidden_tag() }}
        <p>
            {{ template_add_comment.new_comment.label }}
            {{ template_add_comment.new_comment() }}
        </p>
        <p>
            {{ template_add_comment.submit_comment() }}
        </p>
    </form>

{% endblock %}
